@mixin roundedbox($radius: 25px, $style: solid, $size: 2px, $color: black) {
  border-radius: $radius;
  border: $style $size $color;
}

@mixin titleborder($style: solid, $size: 2px, $color: black) {
  border-top: $style $size $color;
  border-bottom: $style $size $color;
}

@mixin containerborder($style: solid, $size: 2px, $color: black) {
  border-right: $style $size $color;
  border-bottom: $style $size $color;
}

@mixin tableborder($style: solid, $size: 2px, $color: black) {
  border-left: $style $size $color;
  border-top: $style $size $color;  
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  background-color: beige;
}

.document {
  display: flex;
  justify-content: space-between;
}

.border {
  width: 0px;
}

@media only screen and (min-width: 1500px) {
  .border {
    width: 25vw;
    background-color: brown;
  }
}

.center {
  background-color: beige;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navlink {
  margin: 2px;
  padding: 2px;
  text-decoration: none;
  background-color: coral;
  @include roundedbox;
}

h1, h2 {
  @include titleborder;
  background-color: white;
}

.image {
  width: calc(855 / 1203) * 25vh;
  height: 25vh;
  @include roundedbox;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(16 + 2) * 6px;
  border: solid 2px black;
}

.cell {
  background-color: coral;
}

.bordercontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(16 + 4) * 5px;
  @include containerborder;
}

.bordercell {
  @include tableborder;
  background-color: coral;
}

.doublelinecontainera {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc((16 + 3) * 2) * 3px;
  @include containerborder;
}

.doublelinecell {
  @include tableborder;
  background-color: coral;
}

.doublelinecontainerb {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc((16 + 3) * 2) * 6px;
  @include containerborder;
}

.git {
  @include roundedbox;
  background-color: coral;
}